@if(flashMessages.has('succes'))
  <div>
    {{ old('succes') }}
  </div>
@end
@if(flashMessages.has('error'))
  <div>
    {{ old('error') }}
  </div>
@end
@error('E_INVALID_CREDENTIALS')
  <div>
    {{ $message }}
  </div>
@end
