<header>
  <nav>
    <a href="">      <img src="/img/fullnameLogo.png" alt="" style="height: 40px" /></a>
    <div id="user-buttons">
      <a href="" id="deconnect-button">Se déconnecter</a>
    </div>
  </nav>
</header>
