@component('components/layout', {title: 'home'})
  <div id="decks">
    @each((deck, index) in decks)
      <form action="{{ route('deck.get', {id: deck.id}) }}" method="GET">
        {{ csrfField() }}
        <button type="submit">
          <div class="deck-container">
            <h4>
              {{ deck.name }}
            </h4>
            <p>
              {{ deck.description }}
            </p>
          </div>
        </button>
      </form>
    @end
  </div>
@endcomponent
